@import "tailwindcss";  
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


body {
  margin: 0;
  display: flex;
  place-items: center;
}

